.loadMore {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #3470ff;
    border-radius: 12px;
    padding: 12px 36px;
    width: 156px;
    height: 44px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    color: #101828;
    background-color: inherit;
    margin: 80px auto;

}

.loadMore:hover,
.loadMore:focus {
    border: 1px solid #0b44cd;
}