.img {
    border-radius: 19px;
    width: 640px;
    height: 512px;
    margin-top: 84px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
}

